* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue" sans-serif;

}

ol {
    list-style-type: none;
    display: grid;
    width: max-content;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    margin: 20px auto;
    padding: 0;
}

h1 {
    font-size: 2em;
}

li {
    font-size: 1rem;
}

h2 {
    margin-bottom: 4px;
    padding: 0;
}

.first-day {
    grid-column-start: 6;
}

.day-name {
    background: #eee;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
}