* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue" sans-serif;
    height: 100vh;
}

div {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    align-self: center;
}

.month {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    display: grid;
    grid-template-rows: 80px;
}

ol {
    width: 100vw;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,  1fr);
    grid-template-rows: 80px;
    margin: 0;
    padding: 0;
    place-items: center;
}

li {
    font-size: 1.5ch;
}

h2 {
    margin-bottom: 4px;
    padding: 0;
}

.first-day {
    grid-column-start: var(--first-day-start);
}

button {
    position: fixed;
    bottom: 32px;
    right: 32px;
    border-radius: 500px;
    background-color: #0FC2C0;
    color: #fff;
    border: 0;
    font-weight: bold;
    padding: 16px;
    display: flex;
    place-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

#up {
   right: 100px; 
}

.day-name {
    background: #eee;
    font-weight: bold;
    padding: 4px;
    font-size: 16px;
    text-align: center;
}